# 通用包使用公共 registry
registry=https://registry.npmjs.org/

# @didi 作用域包使用内部 registry
@didi:registry=http://npm.intra.xiaojukeji.com

# 如果内部 registry 不可用，可以临时注释掉上面一行，使用公共 registry
# @didi:registry=https://registry.npmjs.org/
